/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: blue;
}

/* selected link */
a:active {
    color: black;
}

a:visited, a:link, a:active
{
    text-decoration: none;
	text-shadow: 1px 1px #FFFFFF;
}
